<div class="bg-dark">
<nav class="p-4 w-full flex justify-between items-center fixed z-50">
  <div class="flex justify-center">
    <div class="flex flex-col mt-1">
      <div class="flex mb-1">
        <span class="w-2 h-2 bg-gray-600 opacity-60 mr-1 rounded-full e"> </span>
        <span class="w-6 h-2 bg-primary"> </span>
      </div>
    
      <div class="flex mb-1">
        <span class="w-6 h-2 bg-gray-600 opacity-60"> </span>
      </div>
    
      <div class="flex mb-1">
        <span class="w-2 h-2 bg-primary mr-1 rounded-full "> </span>
      </div>
    </div>
    <h1 class="text-dark font-benchnine mx-3">MARK DAQUIS</h1>
  </div>
  <ul class=" flex items-center rounded-md p-2 social ">
    <button class=" focus:shadow-none focus:outline-none w-6 h-6 ml-2">
      <img src="assets/icons/fb.png" alt="">
    </button>
    <button class=" focus:shadow-none focus:outline-none w-6 h-6 ml-2">
      <img src="assets/icons/li.png" alt="">
    </button>
    <button class=" focus:shadow-none focus:outline-none w-6 h-6 ml-2">
      <img src="assets/icons/git.png" alt="">
    </button>
  </ul>
</nav>



  <section class="container bg-dark h-screen flex flex-col m-auto" id="home"> 
    <div class="flex justify-center items-center flex-1">
      <div class="relative blinking">
  
        <div>
          <img src="assets/images/md.png" alt="" class="absolute sign ">
          <h1 class=" text-6xl font-montserrat font-extrabold text-primary text-shadow z-20 text-center relative name">
            Mark Daquis</h1>
          <p class="text-gray-400 text-center text-lg relative mb-5">
            Software Developer
          </p>
          <div class="flex justify-center relative font-benchnine">
            <a href="#about" class="text-white">About</a> <span class="mx-2 text-primary">|</span>
            <a href="#projects" class="text-white">Projects</a> <span class="mx-2 text-primary">|</span>
            <a href="#contact" class="text-white">Contact</a>
          </div>
        </div>
  
      </div>
    </div>
    <div class=" flex flex-col justify-center items-center p-4 slow-pulse">
      <div class="mouse mb-2 pt-5 animate-bounce flex justify-center">
        <div class="w-1 h-1 bg-primary rounded-full scroll-bounce"></div>
      </div>
      <p class="text-gray-400 text-center text-xs">
        Scroll Down
      </p>
    </div>
  </section>


<section class="bg-primary h-screen relative py-20" id="projects">
  <div class="border-l-dark border-dark h-full">
    <h1 class=" text-6xl font-benchnine text-white mb-10 text-center">SOME PROJECTS </h1>
  
   <ul class="flex px-12">
     <li class="w-1/2">
       <a href="#" class="flex bg-white rounded-lg shadow-md">
        <h1>QWUIK</h1>
        <div class="w-32 h-20">

        </div>
       </a>
     </li>
   </ul>
    
  </div>

  
</section>

  <!-- <section class="relative h-screen">
    <div class='wavy bg-gray-300  w-full h-full z-10'>
      <div class='wave -one'></div>
      <div class='wave -two'></div>
      <div class='wave -three'></div>
      <div class='title'>
        <h1>Some Projects</h1>
       
      </div>
      
      <div class=" p-4 z-20 relative w-full mt-80 container m-auto ">
          <div class="bg-dark w-full h-1/2 flex overflow-scroll p-12">
            <div class="min-x w-72 h-52 bg-primary m-2 rounded-md py-4 px-6 flex flex-col">
              <div class="bg-white flex-1">
                <img src="assets/images/qwuik.png" alt="" class="w-full h-full">
              </div>
              <h1 class="text-center mt-2 font-benchnine font-bold text-gray-200">MYAPP</h1>
            </div>
            <div class="min-x w-72 h-52 bg-primary m-2 rounded-md py-4 px-6 flex flex-col">
              <div class="bg-white flex-1">
                <img src="assets/images/qwuik.png" alt="" class="w-full h-full">
              </div>
              <h1 class="text-center mt-2 font-benchnine font-bold text-gray-200">MYAPP</h1>
            </div>
            <div class="min-x w-72 h-52 bg-primary m-2 rounded-md py-4 px-6 flex flex-col">
              <div class="bg-white flex-1">
                <img src="assets/images/qwuik.png" alt="" class="w-full h-full">
              </div>
              <h1 class="text-center mt-2 font-benchnine font-bold text-gray-200">MYAPP</h1>
            </div>
            <div class="min-x w-72 h-52 bg-primary m-2 rounded-md py-4 px-6 flex flex-col">
              <div class="bg-white flex-1">
                <img src="assets/images/qwuik.png" alt="" class="w-full h-full">
              </div>
              <h1 class="text-center mt-2 font-benchnine font-bold text-gray-200">MYAPP</h1>
            </div>
            <div class="min-x w-72 h-52 bg-primary m-2 rounded-md py-4 px-6 flex flex-col">
              <div class="bg-white flex-1">
                <img src="assets/images/qwuik.png" alt="" class="w-full h-full">
              </div>
              <h1 class="text-center mt-2 font-benchnine font-bold text-gray-200">MYAPP</h1>
            </div>
            <div class="min-x w-72 h-52 bg-primary m-2 rounded-md py-4 px-6 flex flex-col">
              <div class="bg-white flex-1">
                <img src="assets/images/qwuik.png" alt="" class="w-full h-full">
              </div>
              <h1 class="text-center mt-2 font-benchnine font-bold text-gray-200">MYAPP</h1>
            </div>
            <div class="min-x w-72 h-52 bg-primary m-2 rounded-md py-4 px-6 flex flex-col">
              <div class="bg-white flex-1">
                <img src="assets/images/qwuik.png" alt="" class="w-full h-full">
              </div>
              <h1 class="text-center mt-2 font-benchnine font-bold text-gray-200">MYAPP</h1>
            </div>
          </div>
      </div>
    </div>

  </section> -->


  <section class=" bg-dark" id="about">
    <div class="container m-auto relative flex h-full">
      <div class="h-12 w-40 bg-gray-600 absolute right-0"></div>
      <div class="h-12 w-40 bg-gray-600 absolute left-0 bottom-0"></div>
      <div class="flex-1 flex flex-col justify-center items-center">
        <div class="w-full px-32">
          <h1 class=" text-6xl font-benchnine font-extrabold text-white mb-5">ABOUT MARK <span class="text-primary">.</span>
          </h1>
          <div>
            <div class="w-full h-4 bg-primary mb-3"></div>
            <p class="w-full text-white">
              Mark Daquis is a Software developer with over 3 years of industry experience, including jobs at large
              technology
              and
              retail companies.
            </p>
          </div>
        </div>
      </div>
      <div class="flex-1 flex justify-center items-center">
        <div class="p-8">
          <img src="assets/images/profile.png" alt="" class="w-full profile">
        </div>
      </div>
    </div>
  </section>
 
  <section class="  bg-gray-300 pt-24 pb-12 relative" id="competencies">
    
    <div class="flex justify-end h-full wull container m-auto">
      <div class="absolute w-10 h-10 bg-gray-600 top-36 left-0"></div>
      <div class="w-2/3 bg-dark px-20 pt-16 pb-10 box">
        <h1 class=" text-4xl font-benchnine text-white mb-10 text-right text-primary">COMPETENCIES<span
            class="text-white">.</span>
        </h1>
        <div class="mb-5">
          <h1 class=" text-lg font-benchnine mb-2 text-right text-primary uppercase">Backend
          </h1>
          <p class=" text-2xl font-benchnine text-white mb-5 text-right">NodeJs, ExpressJs, MySQL, REST, Firebase
          </p>
        </div>
        <div class="mb-5">
          <h1 class=" text-lg font-benchnine mb-2 text-right text-primary uppercase">FRONTEND
          </h1>
          <p class=" text-2xl font-benchnine text-white mb-5 text-right">HTML5, CSS3/SCSS, javascript, Angular, Ionic
          </p>
        </div>
        <div class="mb-5">
          <h1 class=" text-lg font-benchnine mb-2 text-right text-primary uppercase">MOBILE
          </h1>
          <p class=" text-2xl font-benchnine text-white mb-5 text-right">IONIC Framework, Flutter/dart, Swift/SwiftUI
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col justify-center items-center  bg-dark pt-12 pb-8 relative" id="contact">
    
      <div class="flex justify-start h-full wull">
        <div class=" bg-dark pl-24 pr-4 py-10 box">
          <h1 class=" text-6xl font-benchnine text-white mb-10  text-primary">CONTACT ME <span class="text-white">.</span>
          </h1>
          <div class="mb-5">
            <h1 class=" text-2xl font-benchnine mb-2  text-primary uppercase">Mailing Address
            </h1>
            <p class=" text-xl font-benchnine text-white mb-5 ">#2285 Rosal St. Batista Subdivision Brgy. San Jose 
              Biñan City, Laguna
            </p>
          </div>
          <div class="mb-5">
            <h1 class=" text-2xl font-benchnine mb-2  text-primary uppercase">Email Address
            </h1>
            <p class=" text-xl font-benchnine text-white mb-5 ">marcusdaquis@icloud.com
            </p>
          </div>
          <div class="mb-5">
            <h1 class=" text-2xl font-benchnine mb-2  text-primary uppercase">Contact Number
            </h1>
            <p class=" text-xl font-benchnine text-white mb-5 ">(+63) 998 981 2159
            </p>
          </div>
      </div>
      <div class="px-12 flex-1">
          <div id="keyboard">
            <ul class="cf">
              <li><a href="#keyboard" class="key c27 fn"><span id="esc">esc</span></a></li>
              <li><a href="#keyboard" class="key c112 fn"><span>F1</span></a></li>
              <li><a href="#keyboard" class="key c113 fn"><span>F2</span></a></li>
              <li><a href="#keyboard" class="key c114 fn"><span>F3</span></a></li>
              <li><a href="#keyboard" class="key c115 fn"><span>F4</span></a></li>
              <li><a href="#keyboard" class="key c116 fn"><span>F5</span></a></li>
              <li><a href="#keyboard" class="key c117 fn"><span>F6</span></a></li>
              <li><a href="#keyboard" class="key c118 fn"><span>F7</span></a></li>
              <li><a href="#keyboard" class="key c119 fn"><span>F8</span></a></li>
              <li><a href="#keyboard" class="key c120 fn"><span>F9</span></a></li>
              <li><a href="#keyboard" class="key c121 fn"><span>F10</span></a></li>
              <li><a href="#keyboard" class="key c122 fn"><span>F11</span></a></li>
              <li><a href="#keyboard" class="key c123 fn"><span>F12</span></a></li>
              <li><a href="#keyboard" class="key fn"><span>Eject</span></a></li>
            </ul>
            <ul class="cf" id="numbers">
              <li><a href="#keyboard" class="key c192"><b>~</b><span>`</span></a></li>
              <li><a href="#keyboard" class="key c49"><b>!</b><span>1</span></a></li>
              <li><a href="#keyboard" class="key c50"><b>@</b><span>2</span></a></li>
              <li><a href="#keyboard" class="key c51"><b>#</b><span>3</span></a></li>
              <li><a href="#keyboard" class="key c52"><b>$</b><span>4</span></a></li>
              <li><a href="#keyboard" class="key c53"><b>%</b><span>5</span></a></li>
              <li><a href="#keyboard" class="key c54"><b>^</b><span>6</span></a></li>
              <li><a href="#keyboard" class="key c55"><b>&amp;</b><span>7</span></a></li>
              <li><a href="#keyboard" class="key c56"><b>*</b><span>8</span></a></li>
              <li><a href="#keyboard" class="key c57"><b>(</b><span>9</span></a></li>
              <li><a href="#keyboard" class="key c48"><b>)</b><span>0</span></a></li>
              <li><a href="#keyboard" class="key c189 alt"><b>_</b><span>-</span></a></li>
              <li><a href="#keyboard" class="key c187"><b>+</b><span>=</span></a></li>
              <li><a href="#keyboard" class="key c46" id="delete"><span>Delete</span></a></li>
            </ul>
            <ul class="cf" id="qwerty">
              <li><a href="#keyboard" class="key c9" id="tab"><span>tab</span></a></li>
              <li><a href="#keyboard" class="key c81"><span>q</span></a></li>
              <li><a href="#keyboard" class="key c87"><span>w</span></a></li>
              <li><a href="#keyboard" class="key c69"><span>e</span></a></li>
              <li><a href="#keyboard" class="key c82"><span>r</span></a></li>
              <li><a href="#keyboard" class="key c84"><span>t</span></a></li>
              <li><a href="#keyboard" class="key c89"><span>y</span></a></li>
              <li><a href="#keyboard" class="key c85"><span>u</span></a></li>
              <li><a href="#keyboard" class="key c73"><span>i</span></a></li>
              <li><a href="#keyboard" class="key c79"><span>o</span></a></li>
              <li><a href="#keyboard" class="key c80"><span>p</span></a></li>
              <li><a href="#keyboard" class="key c219 alt"><b> {{"{"}}</b><span>[</span></a></li>
              <li><a href="#keyboard" class="key c221 alt"><b>{{"}"}}</b><span>]</span></a></li>
              <li><a href="#keyboard" class="key c220 alt"><b>|</b><span>\</span></a></li>
            </ul>
            <ul class="cf" id="asdfg">
              <li><a href="#keyboard" class="key c20 alt" id="caps"><b></b><span>caps lock</span></a></li>
              <li><a href="#keyboard" class="key c65"><span>a</span></a></li>
              <li><a href="#keyboard" class="key c83"><span>s</span></a></li>
              <li><a href="#keyboard" class="key c68"><span>d</span></a></li>
              <li><a href="#keyboard" class="key c70"><span>f</span></a></li>
              <li><a href="#keyboard" class="key c71"><span>g</span></a></li>
              <li><a href="#keyboard" class="key c72"><span>h</span></a></li>
              <li><a href="#keyboard" class="key c74"><span>j</span></a></li>
              <li><a href="#keyboard" class="key c75"><span>k</span></a></li>
              <li><a href="#keyboard" class="key c76"><span>l</span></a></li>
              <li><a href="#keyboard" class="key c186 alt"><b>:</b><span>;</span></a></li>
              <li><a href="#keyboard" class="key c222 alt"><b>"</b><span>'</span></a></li>
              <li><a href="#keyboard" class="key c13 alt" id="enter"><span>return</span></a></li>
            </ul>
            <ul class="cf" id="zxcvb">
              <li><a href="#keyboard" class="key c16 shiftleft"><span>Shift</span></a></li>
              <li><a href="#keyboard" class="key c90"><span>z</span></a></li>
              <li><a href="#keyboard" class="key c88"><span>x</span></a></li>
              <li><a href="#keyboard" class="key c67"><span>c</span></a></li>
              <li><a href="#keyboard" class="key c86"><span>v</span></a></li>
              <li><a href="#keyboard" class="key c66"><span>b</span></a></li>
              <li><a href="#keyboard" class="key c78"><span>n</span></a></li>
              <li><a href="#keyboard" class="key c77"><span>m</span></a></li>
              <li><a href="#keyboard" class="key c188 alt"><b>&lt;</b><span>,</span></a></li>
              <li><a href="#keyboard" class="key c190 alt"><b>&gt;</b><span>.</span></a></li>
              <li><a href="#keyboard" class="key c191 alt"><b>?</b><span>/</span></a></li>
              <li><a href="#keyboard" class="key c16 shiftright"><span>Shift</span></a></li>
            </ul>
            <ul class="cf" id="bottomrow">
              <li><a href="#keyboard" class="key" id="fn"><span>fn</span></a></li>
              <li><a href="#keyboard" class="key c17" id="control"><span>control</span></a></li>
              <li><a href="#keyboard" class="key option" id="optionleft"><span>option</span></a></li>
              <li><a href="#keyboard" class="key command" id="commandleft"><span>command</span></a></li>
              <li><a href="#keyboard" class="key c32" id="spacebar"></a></li>
              <li><a href="#keyboard" class="key command" id="commandright"><span>command</span></a></li>
              <li><a href="#keyboard" class="key option" id="optionright"><span>option</span></a></li>
              <ol class="cf">
                <li><a href="#keyboard" class="key c37" id="left"><span>&#9666;</span></a></li>
                <li>
                  <a href="#keyboard" class="key c38" id="up"><span>&#9652;</span></a>
                  <a href="#keyboard" class="key c40" id="down"><span>&#9662;</span></a>
                </li>
                <li><a href="#keyboard" class="key c39" id="right"><span>&#9656;</span></a></li>
              </ol>
            </ul>
          </div>
      </div>
    </div>
    
  </section>


  <footer class="flex justify-around items-center p-4 border-t border-gray-400 font-benchnine">
    <ul class="flex text-white text-sm">
      <li class="mx-2"><a href="#home" class="text-white">HOME</a></li>
      <li class="mx-2"> <a href="#about" class="text-white">ABOUT</a></li>
      <li class="mx-12">
        <p class=" text-xs text-gray-500 font-sans">&#169; Copy Right Mark D. 2021</p>
      </li>
        <li class="mx-2"><a href="#projects" class="text-white">PROJECTS</a></li>
        <li class="mx-2"><a href="#contact" class="text-white">CONTACT</a></li>
    </ul>
  </footer>
</div> 