.profile {
  max-width: 500px;
}

.mouse {
  width: 20px;
  height: 35px;
  border: 2px solid white;
  border-radius: 20px;
}

.name {
  min-width: 300px;
}

.social {
  background-color: #202020c3;
}

.sign {
  top: -90px;
}

@keyframes scroll-bounce {
  0% {
    transform: translateY(-350%);

    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.scroll-bounce {
  animation: scroll-bounce 1s infinite;
}

.slow-pulse {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.to-yellow-light {
  --tw-gradient-to: #fc795b;
}

.from-yellow-dark {
  --tw-gradient-from: #774237;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(146, 64, 14, 0));
}

.min-x {
  min-width: 300px;
}

.border-l-dark {
  border-left: 60px solid #202020;
}

.w-45-p {
  width: 45%;
}

.link:hover {
  color: #fc795b;
  font-weight: 900;
}
